aiohttp==3.8.1
aiosignal==1.2.0
alembic==1.8.0
anyio==3.6.1
apache-airflow==2.3.2
apache-airflow-providers-amazon==4.0.0
apache-airflow-providers-ftp==3.0.0
apache-airflow-providers-http==3.0.0
apache-airflow-providers-imap==3.0.0
apache-airflow-providers-sqlite==3.0.0
apispec==3.3.2
argcomplete==2.0.0
asn1crypto==1.5.1
async-timeout==4.0.2
attrs==20.3.0
Babel==2.10.3
beautifulsoup4==4.11.1
black==22.3.0
blinker==1.4
boto3==1.24.13
botocore==1.27.13
cachelib==0.8.0
cattrs==1.10.0
certifi==2022.6.15
cffi==1.15.0
charset-normalizer==2.0.12
click==8.1.3
clickclick==20.10.2
colorama==0.4.5
colorlog==4.8.0
commonmark==0.9.1
connexion==2.13.1
coverage==6.4.1
cron-descriptor==1.2.24
croniter==1.3.5
cryptography==37.0.2
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.13
dill==0.3.5.1
dnspython==2.2.1
docutils==0.18.1
email-validator==1.2.1
flake8==4.0.1
flake8-docstrings==1.6.0
Flask==1.1.4
Flask-AppBuilder==3.4.5
Flask-Babel==2.0.0
Flask-Caching==1.11.1
Flask-JWT-Extended==3.25.1
Flask-Login==0.4.1
Flask-OpenID==1.3.0
Flask-Session==0.4.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.14.3
frozenlist==1.3.0
graphviz==0.20
greenlet==1.1.2
gunicorn==20.1.0
h11==0.12.0
httpcore==0.15.0
httpx==0.23.0
idna==3.3
inflection==0.5.1
iniconfig==1.1.1
itsdangerous==1.1.0
Jinja2==2.11.3
jmespath==1.0.1
jsonpath-ng==1.5.3
jsonschema==4.6.0
lazy-object-proxy==1.7.1
lockfile==0.12.2
lxml==4.9.0
Mako==1.2.0
Markdown==3.3.7
MarkupSafe==2.0.1
marshmallow==3.16.0
marshmallow-enum==1.5.1
marshmallow-oneofschema==3.0.1
marshmallow-sqlalchemy==0.26.1
mccabe==0.6.1
multidict==6.0.2
mypy-boto3-rds==1.24.0
mypy-boto3-redshift-data==1.24.11.post3
mypy-extensions==0.4.3
numpy==1.22.4
packaging==21.3
pandas==1.4.2
pathspec==0.9.0
pendulum==2.1.2
platformdirs==2.5.2
pluggy==1.0.0
ply==3.11
prison==0.2.1
psutil==5.9.1
py==1.11.0
pycodestyle==2.8.0
pycparser==2.21
pydocstyle==6.1.1
pyflakes==2.4.0
Pygments==2.12.0
PyJWT==1.7.1
pyparsing==3.0.9
pyrsistent==0.18.1
pytest==7.1.2
pytest-cov==3.0.0
pytest-cover==3.0.0
pytest-coverage==0.0
python-daemon==2.3.0
python-dateutil==2.8.2
python-nvd3==0.15.0
python-slugify==6.1.2
python3-openid==3.2.0
pytz==2022.1
pytzdata==2020.1
PyYAML==6.0
redshift-connector==2.0.907
requests==2.27.1
rfc3986==1.5.0
rich==12.4.4
s3transfer==0.6.0
scramp==1.4.1
setproctitle==1.2.3
six==1.16.0
sniffio==1.2.0
snowballstemmer==2.2.0
soupsieve==2.3.2.post1
SQLAlchemy==1.4.9
SQLAlchemy-JSONField==1.0.0
sqlalchemy-redshift==0.8.9
SQLAlchemy-Utils==0.38.2
swagger-ui-bundle==0.0.9
tabulate==0.8.9
tenacity==8.0.1
termcolor==1.1.0
text-unidecode==1.3
tomli==2.0.1
typing_extensions==4.2.0
unicodecsv==0.14.1
urllib3==1.26.9
watchtower==2.0.1
Werkzeug==1.0.1
wrapt==1.14.1
WTForms==2.3.3
yarl==1.7.2
